@font-face {
    font-family: 'ImperialScript-Regular';
    src: url('./assets/fonts/subset-ImperialScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

