.footer {
  background-color: #133e87;
  color: white; /* Fehér szöveg */
}
.footer p,
.footer li {
  color: white !important;
}
.footp {
  color: white !important;
}

.footwave {
  width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  overflow: -moz-hidden-unscrollable;
}
.container-fluid {
  margin-top: 0px;
}
footer {
  margin-top: 0px;
  width: 100%;
}

.footer-wrapper {
  padding-top: 50px;
  width: 100%;
  background-color: #ffffff;
}
.developer {
  color: rgba(128, 128, 128, 0.475);
}

@media (max-width: 768px) {
  .footwave {
    width: 100%;
  }
}
