.footer {
  background-color: #133e87;
  color: white; /* Fehér szöveg */
}

.footer-inner{
  line-height: normal;
}

.footer p,
.footer li {
  color: white !important;
}
.footp {
  color: white !important;
}


.footwave {
  display: block;
  width: 100vw;          /* ne 100% -> legyen tényleg viewport-széles */
  position: relative;
  left: 50%;
  transform: translateX(-50%) scaleX(1.03); /* ez a “biztos túllógatás” */
}
.container-fluid {
  margin-top: 0px;
}
footer {
  margin-top: 0px;
  width: 100%;
}

.footer-nav{
    justify-content: flex-end !important;  /* jobb oldal */
    margin-top: 8px;
    padding-right: 10px !important;
  }

.footer-wrapper {
  padding-top: 20px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%) scaleX(1.03);
  line-height: 0;
  overflow-x: hidden;
}
.developer {
  color: rgba(128, 128, 128, 0.475);
}
html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}

@media (max-width: 768px) {
  .footp {
    text-align: center;
    width: 100%;
    margin-left: 10px;
  }
  .developer {
    display: block;
    margin: 0 auto;
  }

  .footer-left{
    text-align: left;           /* “Talppont legfelül” */
    margin-bottom: 5px;
  }

  .developer{
    display: block;
    white-space: normal;       /* törhessen 2 sorba */
  }

  .footer-nav{
    justify-content: flex-end !important;  /* jobb oldal */
    margin-top: 8px;
    padding-right: 10px !important;
  }
}