.hero {
  background-color: #608bc1;
  margin-top: 0px;
}

.blue-bg {
  background-color: #133e87 !important; /* Saját kék */
  color: white !important; /* Fehér szöveg */
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.blue-bg:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lead {
  font-weight: 500 !important; /* Normál vastagság */
}

.hero-icon {
  font-size: 72px; /* vagy egy másik méret */
  color: #000; /* Ha szükséges, állítsd be a kívánt színt */
}
/* button:hover{
    box-shadow: 1px 1px 8px grey;
} */

.hero-wrapper {
  margin-bottom: 40px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #ffffff;
  overflow-x: hidden;
  border-bottom: 1px solid #d9d9d9 !important;
}

.wave-wrap{
  background: #608bc1;   /* ugyanaz mint a .hero háttér */
  line-height: 0;        /* eltünteti az image körüli “baseline” jellegű hézagokat */
  overflow: hidden;      /* a túllógást elrejti */
}

.wave-svg{
  display: block;
  width: 100vw;          /* ne 100% -> legyen tényleg viewport-széles */
  position: relative;
  left: 50%;
  transform: translateX(-50%) scaleX(1.03); /* ez a “biztos túllógatás” */
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}