.form-wrapper-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.form-wrapper {
    height: 80vh; /* Teljes képernyőmagasság */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .formmain {
    width: 100%;
    max-width: 400px; /* Kényelmes szélesség */
    padding: 1rem;
  }

  .login{
    background-color: #133E87 !important;
  }

  .regist{
    background-color: white !important;
    border: 2px solid #133E87 !important;
    color: #133E87 !important;
  }

  .form-signin{
    border-radius: 30px !important;
  }

  .form-control{
    border-radius: 10px !important;;
    border:#133e87a1 1px solid !important;
  }

  @media (max-width: 768px) {
    .form-wrapper {
      width: 80%;
    }
    
  }
