
.custom-navbar {
  border-bottom: 5px solid #133E87 !important;
}

.talppont {
  color: #133E87 !important;
  font-size: 3rem !important;
  font-family: 'ImperialScript-Regular', cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

/* Egységes stílus minden nav szövegre (dropdown is!) */
.nav-text {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.nav-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #133E87;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .nav-text:hover::after {
    transform: scaleX(1);
  }

  .nav-text:not(:hover)::after {
    transform-origin: right;
    transform: scaleX(0);
  }
}

/* Dropdown alap stílus */
.dropdown {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  color: black !important;
}

.asd{
  width: 100% !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.9%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

